<!DOCTYPE html>

<html>
    <head>
        <title>Nany on Anna</title>
    </head>
    <body>
        <h1>
              Hello @Model.FirstName - I'm Nancy!
        </h1>

        <p>This is a Razor view, served by Nancy, running on Anna.</p>
    </body>
</html>